[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "J20"
atc_model = "Mighty Dragon"
Category = "airplane"
pilot = "Pilot_Male_Uniform"
performance = ""
icao_type_designator = "J20"
icao_manufacturer = "CHENGDU"
icao_model = "Mighty Dragon"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "M"

[SERVICES]
FUELTRUCK = 1
BAGGAGE_LOADER = 0
CATERING_TRUCK = 0
BOARDING_RAMP = 0
GROUND_POWER_UNIT = 1
PUSHBACK = 0
SMALL_PUSHBACK = 1
MARSHALLER = 1
JETWAY = 0

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = fx_tchdrt
concrete = fx_sparks
touchdown = fx_tchdwn_s, 1
effect.0 = FX_EXHAUST_LEFT#(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_EXHAUST_RIGHT#(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

[TIMELINE.FLIGHT_RUNWAY]
Flaps = 10

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = "The Chengdu J-20 (歼-20; Jiān-Èrlíng), also known as Mighty Dragon (威龙; Wēilóng),is a single-seat, twinjet, all-weather, stealth, fifth-generation fighter aircraft developed by China's Chengdu Aerospace Corporation for the People's Liberation Army Air Force (PLAAF)."
Tips1 = LOADING__TIPS__C172_002
Tips2 = LOADING__TIPS__C172_003
Tips3 = LOADING__TIPS__C172_004

;===================== FLTSIM =====================

[FLTSIM.0]
title = "Chengdu J-20 Mighty Dragon" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION" ; Variation description.
wip_indicator = -1 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "TT:AIRCRAFT.UI_MANUFACTURER" ; e.g. Boeing, Cessna
ui_type = "TT:AIRCRAFT.UI_MODEL" ; e.g. 747-400, 172
ui_variation = "TT:AIRCRAFT.UI_VARIATION" ; e.g. World Air, IFR Panel
ui_typerole = "Twin Engine Jet" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "h0rnb1ll" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "thumbnail.PNG" ; app relative path to ThumbNail image file
ui_certified_ceiling = 66000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 3000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 4.0 ; max duration the aircraft can fly between take-off and landing in (Hrs)
atc_id = "HRBLL" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "RAMP,MIL_COMBAT" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; Is the plane usable for air traffic
isUserSelectable = 1 ; Is the plane selectable by the user
