[VERSION]
major =1
minor =0

[VIEWS]
eyepoint = -20.95, 0, -1.36 ; (feet) longitudinal, lateral, vertical distance from reference datum

;===================== CAMERADEFINITION =====================

[CAMERADEFINITION.0]
Title = "Pilot" ; This is descriptive only, not used by the system
Guid = "{13f9e7ab-e806-493a-a563-ac6bd7ab1f6c}" ; Camera definition unique identifier. This GUID must be unique.
Description = "" ; Camera description.
Origin = "Virtual Cockpit" ; Every camera definition must have an origin that defines the object or point on which the camera is oriented.
MomentumEffect = 1 ; Controls whether the camera exhibits momentum effect. This is determined by the settings in the Dynamic Head Movement section.
SnapPbhAdjust = "Swivel" ; These settings control how camera movement is handled when the camera system receives a view pan or �snap to� command.
SnapPbhReturn = 0 ; If true, camera position returns to its initial position when the snap movement command key is released.
PanPbhAdjust = "Swivel" ; Same range of options as snappbhadjust. Always set to Swivel in KH
PanPbhReturn = 0 ; If true, camera position returns to its initial position when the pan movement command key is released.
Track = "None" ; External cameras have the ability to track a user or AI object. The Track parameter controls this behavior.
ShowAxis = "YES" ; Determines whether the axis indicator is shown.
AllowZoom = 1 ; Controls whether the camera responds to zoom commands.
InitialZoom = 0.35 ; [0.0, 512.0] Sets the initial zoom.
SmoothZoomTime = 2 ; [0.0, 30.0] The zoom time in seconds. By default, zooming in and out is �smoothed� by changing between old and new zoom levels over a small time period (5 seconds). This setting enables you to control this effect on a per-camera basis.
ZoomPanScalar = 1 ; [0.0, 100.0] Movement is scaled by dividing the ZoomPanScalar value by the zoom level.
ShowWeather = 1 ; Determines whether weather visuals are shown.
XyzAdjust = 1 ; Controls whether the camera responds to position change commands.
ShowLensFlare = 0 ; Determines whether lens flare effect can be shown (based on user setting).
Category = "Cockpit" ; Every camera definition must include a category that defines how the camera is exposed in the user interface. Categories define the view cycling behavior(S and A keys) as well as the menu structure. Some categories (AirTraffic, Runway, Multiplayer and Tower) can also be instance-based, meaning new cameras are created automatically based on the object type.
SubCategory = "Pilot"
SubCategoryItem = "DefaultPilot"
PitchPanRate = 20 ; [0.0, 100.0] Controls the rate at which pitch is changed in degrees per second.
HeadingPanRate = 60 ; [0.0, 100.0] Controls the rate at which heading is changed in degrees per second.
InitialXyz = 0.038, 1.483, 10.315; All values are in meters, -500.0 to 500.0 (for each of the three). Camera XYZ position offset from the default location in meters.
InitialPbh = 0, 0, 0 ; All values are in degrees, -90 to 90.0 (pitch), -180 to 180.0 (bank and heading). Camera pitch, bank and heading orientation offset from the default in degrees. Note that positive pitches give a downward view. Positive headings are to the right.
NodesToHide = "" ; Allows to hide one or several node while showing this camera. This is useful to hide the Yoke in camera instrument, for example.
ClipMode = "0" ; Normal - Minimum - Spot - Tower.
BoundingBoxRadius = 0.01 ; Radius of the Camera in meters: you can use it as a bounding box.

[CAMERADEFINITION.1]
Title = "Landing" ; This is descriptive only, not used by the system
Guid = "{abdf22ca-f286-43ed-a7ee-5131d3f3125c}" ; Camera definition unique identifier. This GUID must be unique.
Description = "" ; Camera description.
Origin = "Virtual Cockpit" ; Every camera definition must have an origin that defines the object or point on which the camera is oriented.
MomentumEffect = 1 ; Controls whether the camera exhibits momentum effect. This is determined by the settings in the Dynamic Head Movement section.
SnapPbhAdjust = "Swivel" ; These settings control how camera movement is handled when the camera system receives a view pan or �snap to� command.
SnapPbhReturn = 0 ; If true, camera position returns to its initial position when the snap movement command key is released.
PanPbhAdjust = "Swivel" ; Same range of options as snappbhadjust. Always set to Swivel in KH
PanPbhReturn = 0 ; If true, camera position returns to its initial position when the pan movement command key is released.
Track = "None" ; External cameras have the ability to track a user or AI object. The Track parameter controls this behavior.
ShowAxis = "YES" ; Determines whether the axis indicator is shown.
AllowZoom = 1 ; Controls whether the camera responds to zoom commands.
InitialZoom = 0.35 ; [0.0, 512.0] Sets the initial zoom.
SmoothZoomTime = 2 ; [0.0, 30.0] The zoom time in seconds. By default, zooming in and out is �smoothed� by changing between old and new zoom levels over a small time period (5 seconds). This setting enables you to control this effect on a per-camera basis.
ZoomPanScalar = 1 ; [0.0, 100.0] Movement is scaled by dividing the ZoomPanScalar value by the zoom level.
ShowWeather = 1 ; Determines whether weather visuals are shown.
XyzAdjust = 1 ; Controls whether the camera responds to position change commands.
ShowLensFlare = 0 ; Determines whether lens flare effect can be shown (based on user setting).
Category = "Cockpit" ; Every camera definition must include a category that defines how the camera is exposed in the user interface. Categories define the view cycling behavior(S and A keys) as well as the menu structure. Some categories (AirTraffic, Runway, Multiplayer and Tower) can also be instance-based, meaning new cameras are created automatically based on the object type.
SubCategory = "Pilot"
SubCategoryItem = "LandingPilot"
PitchPanRate = 20 ; [0.0, 100.0] Controls the rate at which pitch is changed in degrees per second.
HeadingPanRate = 60 ; [0.0, 100.0] Controls the rate at which heading is changed in degrees per second.
InitialXyz = 0.038, 1.583, 10.315 ; All values are in meters, -500.0 to 500.0 (for each of the three). Camera XYZ position offset from the default location in meters.
InitialPbh = -0, 0, 0 ; All values are in degrees, -90 to 90.0 (pitch), -180 to 180.0 (bank and heading). Camera pitch, bank and heading orientation offset from the default in degrees. Note that positive pitches give a downward view. Positive headings are to the right.
NodesToHide = "" ; Allows to hide one or several node while showing this camera. This is useful to hide the Yoke in camera instrument, for example.
ClipMode = "0" ; Normal - Minimum - Spot - Tower.
BoundingBoxRadius = 0.01 ; Radius of the Camera in meters: you can use it as a bounding box.

[CAMERADEFINITION.2]
Title = "Close"
Guid = "{6c511b76-099e-48df-817f-0302b51add77}"
Description = ""
Origin = "Virtual Cockpit"
MomentumEffect = 1 ;
SnapPbhAdjust = "None"
SnapPbhReturn = 0
PanPbhAdjust = "None"
PanPbhReturn = 0
Track = "None"
ShowAxis = "No"
AllowZoom = 1
InitialZoom = 0.4 ; [0.0, 512.0]
SmoothZoomTime = 2 ; [0.0, 30.0]
ZoomPanScalar = 1 ; [0.0, 100.0]
ShowWeather = 1
XyzAdjust = 1
ShowLensFlare = 0
Category = "Cockpit"
SubCategory = "Pilot"
SubCategoryItem = "ClosePilot"
PitchPanRate = 20 ; [0.0, 100.0]
HeadingPanRate = 60 ; [0.0, 100.0]
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = -20, 0, 0.
NodesToHide = ""
ClipMode = "Normal"
BoundingBoxRadius = 0.01
TargetCategory = "None"
CycleHidden = 0
CycleHideRadius = 0
ShowPanel = 0
InstancedBased = 0
NoSortTitle = 0
Transition = 0

[CAMERADEFINITION.3]
Title = "InstMid"
Guid = "{20f9b57b-2cc8-47ad-ac7f-a7721170f2a0}"
Description = ""
Origin = "Virtual Cockpit"
MomentumEffect = 1 ;
SnapPbhAdjust = "None"
SnapPbhReturn = 0
PanPbhAdjust = "None"
PanPbhReturn = 0
Track = "None"
ShowAxis = "No"
AllowZoom = 1
InitialZoom = 0.4 ; [0.0, 512.0]
SmoothZoomTime = 2 ; [0.0, 30.0]
ZoomPanScalar = 1 ; [0.0, 100.0]
ShowWeather = 1
XyzAdjust = 0
ShowLensFlare = 0
Category = "Cockpit"
SubCategory = "Instrument"
SubCategoryItem = "InstMid"
PitchPanRate = 20 ; [0.0, 100.0]
HeadingPanRate = 60 ; [0.0, 100.0]
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = -15, 0, 0
NodesToHide = ""
ClipMode = "Normal"
BoundingBoxRadius = 0.1
TargetCategory = "None"
CycleHidden = 0
CycleHideRadius = 0
ShowPanel = 0
InstancedBased = 0
NoSortTitle = 0
Transition = 0

[CAMERADEFINITION.4]
Title = "InstLeft"
Guid = "{82166d91-8f29-43da-9fed-54d828c184a4}"
Description = ""
Origin = "Virtual Cockpit"
MomentumEffect = 1
SnapPbhAdjust = "Swivel"
SnapPbhReturn = 0
PanPbhAdjust = "Swivel"
PanPbhReturn = 0
Track = "None"
ShowAxis = "YES"
AllowZoom = 1
InitialZoom = 0.4
SmoothZoomTime = 2
ZoomPanScalar = 1
ShowWeather = 1
XyzAdjust = 0
ShowLensFlare = 0
Category = "Cockpit"
SubCategory = "Instrument"
SubCategoryItem = "InstLeft"
PitchPanRate = 20
HeadingPanRate = 60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = -15, 0, 0
NodesToHide = ""
ClipMode = "0"
BoundingBoxRadius = 0.1

[CAMERADEFINITION.5]
Title = "InstRight"
Guid = "{b7db1e2c-7a82-41ff-8291-60654037f66a}"
Description = ""
Origin = "Virtual Cockpit"
MomentumEffect = 1
SnapPbhAdjust = "Swivel"
SnapPbhReturn = 0
PanPbhAdjust = "Swivel"
PanPbhReturn = 0
Track = "None"
ShowAxis = "YES"
AllowZoom = 1
InitialZoom = 0.4
SmoothZoomTime = 2
ZoomPanScalar = 1
ShowWeather = 1
XyzAdjust = 0
ShowLensFlare = 0
Category = "Cockpit"
SubCategory = "Instrument"
SubCategoryItem = "InstRight"
PitchPanRate = 20
HeadingPanRate = 60
InitialXyz 0.038, 1.483, 10.315
InitialPbh = -15, 0, 0
NodesToHide = ""
ClipMode = "0"
BoundingBoxRadius = 0.1

[CAMERADEFINITION.6]
Title = "InstLower"
Guid = "{abbb0803-2a22-417b-8e58-0fd670fada80}"
Description = ""
Origin = "Virtual Cockpit"
MomentumEffect = 1
SnapPbhAdjust = "Swivel"
SnapPbhReturn = 0
PanPbhAdjust = "Swivel"
PanPbhReturn = 0
Track = "None"
ShowAxis = "YES"
AllowZoom = 1
InitialZoom = 0.4
SmoothZoomTime = 2
ZoomPanScalar = 1
ShowWeather = 1
XyzAdjust = 0
ShowLensFlare = 0
Category = "Cockpit"
SubCategory = "Instrument"
SubCategoryItem = "InstLower"
PitchPanRate = 20
HeadingPanRate = 60
InitialXyz = 0.038, 1.383, 10.315
InitialPbh = -45, 0, 0
NodesToHide = ""
ClipMode = "0"
BoundingBoxRadius = 0.1

; Not working
[CAMERADEFINITION.8]
Title ="Tail"
Guid ="{29eb42c3-9d0f-4bf7-9373-dfaa433b2ed5}"
Description =""
Origin ="Center"
MomentumEffect =0
SnapPbhAdjust ="Swivel"
SnapPbhReturn =1
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="NO"
AllowZoom =1
InitialZoom =0.64
SmoothZoomTime =5
ZoomPanScalar =0
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="FixedOnPlane"
SubCategory ="FixedOnPlaneExtern"
SubCategoryItem ="Tail"
PitchPanRate =10
HeadingPanRate =30
InitialXyz = 0, 2.6, 112.5
InitialPbh = 0, 0, 0
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle=""
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.12]
Title ="QuickView_Up"
Guid ="{a5ea8563-31bc-4147-98de-68078c31e264}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView1"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 10, 0, 0
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_UP"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.13]
Title ="QuickView_Back"
Guid ="{e6611fe1-2355-4cb6-acd5-bea5f7eadf26}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView2"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, 170
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_BACK"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.14]
Title ="QuickView_L1"
Guid ="{2d213ab6-f26f-4bbc-b959-b635d5378013}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView6"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, -30
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_L1"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.15]
Title ="QuickView_L2"
Guid ="{c9987a7e-9fae-4b4f-9afc-74ffe5963fcf}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView4"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, -90
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_L2"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.16]
Title ="QuickView_L3"
Guid ="{6d00d83d-dfc3-43bd-9b4d-21b2137bba96}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView5"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, -120
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_L3"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.17]
Title ="QuickView_R1"
Guid ="{3086d249-7a71-4278-89dc-bd0fae6a86c6}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView7"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, 30
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_R1"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.18]
Title ="QuickView_R2"
Guid ="{83b803fe-16a1-4301-8a53-764327d7d8b5}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView3"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, 90
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_R2"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0

[CAMERADEFINITION.19]
Title ="QuickView_R3"
Guid ="{1ddbd3e6-2cda-4d85-a8de-7360f74bf8b5}"
Description =""
Origin ="Virtual Cockpit"
MomentumEffect =1
SnapPbhAdjust ="Swivel"
SnapPbhReturn =0
PanPbhAdjust ="Swivel"
PanPbhReturn =0
Track ="None"
ShowAxis ="YES"
AllowZoom =1
InitialZoom =0.35
SmoothZoomTime =2
ZoomPanScalar =1
ShowWeather =1
XyzAdjust =1
ShowLensFlare =0
Category ="Cockpit"
SubCategory ="QuickView"
SubCategoryItem ="QuickView8"
PitchPanRate =20
HeadingPanRate =60
InitialXyz = 0.038, 1.483, 10.315
InitialPbh = 1, 0, 120
NodesToHide =""
ClipMode ="Normal"
BoundingBoxRadius =0.1
UITitle="TT:GAME.PANEL_CAMERA_QUICKVIEWS_R3"
TargetCategory="None"
CycleHidden=0
CycleHideRadius=0
ShowPanel=0
InstancedBased=0
NoSortTitle=0
Transition=0
PanAcceleratorTime=5
XYZRate=0.25
XYZAcceleratorTime=0